@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

:root{
    --cor-principal: #7E845E;
    --cor-secundaria: #c0bc88;
}

.slide-top{animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Header*/
header{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
}


header figure{
    width: 15%;
    display: flex;
    justify-content: center;
}

header figure img{
   height: 100px;
    width: 120px;
    
}

.nav-header{
    width: 85%;
}

.menu-header{
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: space-evenly;
}

.menu-item a{
    color: var(--cor-principal);
    font-size: 18px;
    text-decoration: none;
    font: normal 600 17px "Roboto";
}

.menu-item a:hover{
    color: var(--cor-secundaria);
    text-decoration: overline;
    transition: 0.5s;
    
}

.header-barra{
    width: 100%;
    height: 30px;
    background-color: var(--cor-principal);
}

/*End Header*/

.principal{
    background-image: url("../img/fundo1.jpg");
    width: 100%;
    height: 580px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
}

.conteudo-principal{
    width: 800px;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texts{
    margin: 20px 40px;
}

.main-title{
    font-size: 4rem;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.main-text{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
    width: 600px;
}

.main-btn{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 100%;
            padding: 15px 40px;
            background: var(--cor-principal);
            color: #fff;
            text-decoration: none;
            border-radius: 30px;
            font-size: 1.4rem;
            font-weight: 600;
            /*transition: all 0.3s ease;*/
             transition: transform 1s ease, color 1s ease;
            box-shadow: 0 4px 15px rgba(212, 165, 116, 0.3);
            
}

.main-btn:hover{
    background: var(--cor-secundaria);
    color: rgb(255, 247, 247);
    transform: scale(1.1);
}


/*about the city*/

.about-city{
    width: 100%;
    height: auto;
    background-color: var(--cor-principal);
   
}

.about-city-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-city-text h2{
   color: #fff;
   padding: 30px 10px;
   font-size: 5rem;
   
}

.about-city-text p{
    color: #fff;
    padding: 20px 10px;
    font-size: 1.8rem;
    text-align: center;
}

.about-city-container{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-city-content{
    max-width: 600px;
    height: 50vh;
    background-color: #fff;
    margin: 0px 10px;
    border-radius: 25px;
}

.about-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title{
    padding: 10px;
}

.card-p{
    font-size: 1rem;
    padding: 10px;
}


/*End about the city*/



