@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

:root{
    --cor-principal: #7E845E;
    --cor-secundaria: #c0bc88;
}

.slide-top{animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Header*/
header{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
}


header figure{
    width: 15%;
    display: flex;
    justify-content: center;
}

header figure img{
   height: 100px;
    width: 120px;
    
}

.nav-header{
    width: 85%;
}

.menu-header{
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: space-evenly;
}

.menu-item a{
    color: var(--cor-principal);
    font-size: 18px;
    text-decoration: none;
    font: normal 600 17px "Roboto";
}

.menu-item a:hover{
    color: var(--cor-secundaria);
    
}

.header-barra{
    width: 100%;
    height: 30px;
    background-color: var(--cor-principal);
}

/*End Header*/

.principal{
    background-image: url("../img/fundo1.jpg");
    width: 100%;
    height: 580px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
}

.conteudo{
    width: 800px;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texts{
    margin: 20px 40px;
}

.main-title{
    font-size: 4rem;
    color: white;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.main-text{
    color:white;
    font-size: 1.5rem;
    margin-bottom: 40px;
    width: 600px;
}

.main-btn{
     display: inline-block;
            padding: 15px 40px;
            background: var(--cor-principal);
            color: #fff;
            text-decoration: none;
            border-radius: 30px;
            font-size: 1.1rem;
            font-weight: 600;
            transition: all 0.3s ease;
            box-shadow: 0 4px 15px rgba(212, 165, 116, 0.3);
}

.main-btn:hover{
    background: var(--cor-secundaria);
    color: rgb(255, 247, 247);
}






